body {
    margin: 0px;
    font-size: 15px;
    font-family: 'Amatic SC', sans-serif;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgb(98 98 98 / 50%), rgb(0 0 0)), url(fundo.webp);
    height: 100vh;
    width: 100vw;
}

h1 {
    display: flex;
    font-size: 57px;
    color: rgb(49 233 67 / 99%);
    margin-bottom: 20px;
    margin-top: 0px;
}

label{
    color: rgb(255, 255, 255);
    font: 1.9rem "Amatic SC", sans-serif;
    display: flex;
    width: 0px;
    margin-right: 50px;
    justify-content: center;
}

input{
    display: flex;
    text-align: center;
    background-color: green;
    color: #f1e9e9;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    font-family: 'Amatic SC', sans-serif;
    height: 33px;
    width: 205px;
}

.container {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 39vw;
    border-radius: 10px;
    background: rgb(21 82 27 / 95%);
    flex-direction: column;
}
.input{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 5px;
    margin-top: 34px;
    margin-right: 40px;
}

button{
    width: 13%;
    height: 5%;
    font-family: 'Amatic SC', sans-serif;
    font-size: 24px;
    color: #fff;
    background-color: #4cc22f;
    position: absolute;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 16px;
    margin-top: 244px;
}

button:hover {
    width: 13%;
    height: 5%;
    font-family: 'Amatic SC', sans-serif;
    font-size: 24px;
    color: #fff;
    background-color: #55a825;
    border-color: #11442f;
    position: absolute;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 16px;
    margin-top: 244px;
}
.resultado{
    display: flex;
    margin-top: 77px;
    align-items: center;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: black 0px 0px 10px;
    background: rgb(143 146 151);
    color: rgb(36 98 42 / 95%);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}