body {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgb(98 98 98 / 50%), rgb(0 0 0)), url(fundo.webp);
    height: 100vh;
    width: 100vw;
}

h1 {
    display: flex;
    font-size: 57px;
    color: rgb(49 233 67 / 99%);
    margin-bottom: 20px;
    margin-top: 0px;
}

label{
    color: rgb(255, 255, 255);
    font: 1.9rem "Amatic SC", sans-serif;
    display: flex;
    width: 0px;
    margin-right: 50px;
    justify-content: center;
    cursor: pointer;
}

input{
    display: flex;
    text-align: center;
    background-color: green;
    color: #f1e9e9;
    border: 1px solid transparent;
    outline: none;
    border-radius: 6px;
    font-size: 38px;
    font-family: 'Amatic SC', sans-serif;
    height: 37px;
    width: 213px;
}

button{
    transition: all 1.2s ease 0s;
    width: 13%;
    height: 5%;
    font-family: 'Amatic SC', sans-serif;
    font-size: 24px;
    color: #fff;
    background-color: #40b422;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 16px;
    margin-top: 244px;
}

button:hover {
    font-weight: bolder; 
    color: #112344;
    background-color: #6be923;
    border: 1px solid #112344;
}

.container {
    display: flex;
    align-items: center;
    height: 515px;
    width: 458px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: rgb(21 82 27 / 95%);
    flex-direction: column;
}

.input{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 34px;
    margin-right: 40px;
}

.resultado{
    display: flex;
    margin-top: 77px;
    align-items: center;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    background: rgb(143 146 151);
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}

.end {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 22px;
    color: rgb(241, 233, 233);
    background-color: rgb(30 34 30 / 68%);
    padding: 12px 0px;
    width: 100vw;
    margin-bottom: 0px;
    display: flex;
    margin-top: -3px;
    justify-content: center;
}