body{
    margin: 0px;
    font-size: 15px;
    font-family: 'Amatic SC', sans-serif;
    display: flex;
    justify-content: center;

}
section{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(98 98 98 / 50%), rgb(0 0 0)), url(fundo.webp);
    height: 100vh;
    width: 100vw;
}

h1{
    font-size: 57px;
    color: aliceblue;
}